* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    // font-family: 'Saira Extra Condensed', sans-serif;
    // font-family: 'Encode Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}